.cart .card-body .product-name{
   width: 200px; 
}

.cart .product-price{
    width: 60px;
}

.cart .product-delete{
    
}

.cart .card-body {
    text-align: left;
    display: flex;
    justify-content:start;
    flex: 1 1 auto;
    padding: 1rem;
    
  }


  .cart-wrapper{
    display: flex;
    justify-content: center;
  }


  .cart-products {
    margin-right: 30px;
  }


  .check-out-form {
    border-radius: 8px;
    background-color:#5c636a;
    color: #ffffff;
    padding: 10px;
  }


  .form-outline {
    display:flex;
    flex-direction: column;
  }

  .form-outline label {
    text-align: left;
    font-size: 1rem;
  }

  .form-control {
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 4px;
    border: none;
  }

  .button-outline{
    margin-top: 10px;
  }

  .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}